body {
    background: #181E34;
    font-family: "Montserrat", "Aerial", sans-serif;
    line-height: 150%;
    color: white;
}

.container {
    max-width: 930px;
    margin: 0 auto;
    padding: 0px 15px;
}


/* =========================================================== */

.header-inner {
    display: flex;
    align-items: center;
}

.header-nav {
    margin-left: auto;
}

.header-buttons {
    display: flex;
}

.header-button {
    margin-right: 30px;
}

.button {
    background: white;
    border-radius: 100px;
    padding: 14px 30px;
    font-weight: 500;
    width: 113px;
    height: 48px;
    color: #2766ae;
    margin-top: 30px;
    margin-bottom: 36px;
}

/* =============================================== */

.hero {
    background: url("../img/hero-bg.jpg") 10% 50% / cover no-repeat;
    padding-top: 120px;
    padding-bottom: 120px;
}

.hero-title {
    display: flex;
    justify-content: center;
    font-weight: 600;
    font-size: 40px;
    text-transform: uppercase;
    margin-bottom: 60px;
}

.hero-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero-text {
    max-width: 436px;
}

.paragraph {
    margin-bottom: 30px;
}

.twoword {
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
    color: #01a2cb;
}

.hero-buttons {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 320px;
}

.hero-button-one,
.hero-button-two {
    border-radius: 100px;
    text-align: center;
    padding: 18px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-img {
    margin-left: 4px;
}

.hero-button-one {
    background: linear-gradient(180deg, #00a4cc 0%, #2766ae 100%);
    margin-bottom: 10px;
}

.hero-button-two {
    background: linear-gradient(129deg, #00a4cc 0%, #2766ae 100%);
}

/* ============================================== */

.super {
    padding-top: 120px;
    padding-bottom: 120px;
}

.super-title-inner {
    display: flex;
    flex-direction: column;
    margin: 0px auto;
    max-width: 514px;
}


.super-title {
    margin: 0 auto;
    font-weight: 600;
    font-size: 40px;
    text-transform: uppercase;
    margin-bottom: 25px;
}

.super-p {
    text-align: center;
    margin-bottom: 59px;
}

.super-inner {
    display: flex;
    justify-content: space-between;
}

.super-item {
    display: flex;
    flex-direction: column;
    background: #197cb8;
    box-shadow: 4px 4px 13px 0 rgba(5, 13, 41, 0.76);
    border: 2px solid #176bae;
    border-radius: 16px;
    padding: 28px;
    max-width: 204px;
    max-height: 141px;
}

.title-inner {
    font-weight: 600;
    font-size: 22px;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.p-inner {
    text-align: center;
}

.stroka {
    margin-bottom: 28px;
}

.super-button {
    background: linear-gradient(180deg, #00a4cc 0%, #2766ae 100%);
    border-radius: 100px;
    text-align: center;
    padding: 18px 30px;
    margin-top: 30px;
}


/* ============================================== */


.inner {
    display: flex;
    justify-content: space-between;
    margin-top: 58px;
}
.foot-inner {
    padding-bottom: 69px;
}

.foot-inner-left {
    max-width: 267px;
}

.foot-inner-left img {
    margin-bottom: 15px;
}

.foot-inner-right {
    display: flex;
}

.foot-title {
    font-weight: 600;
    font-size: 22px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.foot-menu {
    margin-top: 10px;
}

.foot-item-one {
    margin-right: 115px;
}

.foot-item-two {
    margin-right: 84px;
}