body {
    background: grey;
    color: white;
    font-size: 60px;
    font-family: sans-serif;
}

.container {
    display:flex;
    justify-content: center;
}
.title {
    text-align: center;
    margin-top: 40px;
    position: relative;
}

.title::before,
.title::after {
    content: '';
    position: absolute;
    width: 100px;
    height: 100px;
    border: 3px solid white;
    border-radius: 100px;
    transform: translatey(-20px);
}

.title::before {
    background: red;
    left: -132px;
}
.title::after {
    background: blue;
    right: -132px;
}